* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}

body {
  background: #f9fdff;
}

.hero {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 60px 80px;
  min-height: 100vh;
}

/* LEFT */
.hero-left {
  width: 45%;
}

.hero-left h1 {
  font-size: 100px;
  line-height: 1.1;
  margin-bottom: 20px;
}

.hero-left .script {
  font-family: cursive;
  color: #2b7cff;
  font-weight: 500;
}

.hero-left .bold {
  font-weight: 800;
  color: #111;
}

.hero-left p {
  color: #666;
  font-size: 16px;
  margin-bottom: 30px;
  max-width: 500px;
}

.buttons {
  display: flex;
  gap: 15px;
}

.btn-primary {
  background: #2b7cff;
  color: #fff;
  border: none;
  padding: 12px 28px;
  border-radius: 30px;
  font-size: 14px;
  cursor: pointer;
}

.btn-secondary {
  background: transparent;
  border: none;
  color: #2b7cff;
  font-size: 14px;
  cursor: pointer;
}

/* RIGHT */
.hero-right {
  width: 50%;
  position: relative;
}

.image-box {
  background: #0b5ed7;
  border-radius: 20px;
  padding: 30px;
  transform: skew(-15deg);
  position: relative;
  height: 300px;
  border: 30px solid rgb(255, 255, 255);
  box-shadow: 0.5px 0.5px 15px 0.5px rgb(225, 225, 225);
}

.image-box img {
  width: 90%;
  transform: skew(5deg);
  position: absolute;
  top: -130px;
    
}

/* STATS */
.stats {
  display: flex;
  gap: 15px;
  margin-top: 20px;
  justify-content: center;
}

.stat-card {
  background: #0b5ed7;
  color: #fff;
  padding: 15px 20px;
  border-radius: 10px;
  min-width: 130px;
  text-align: center;
}

.stat-card h3 {
  font-size: 20px;
  margin-bottom: 5px;
}

.stat-card p {
  font-size: 12px;
  opacity: 0.9;
}

/* RESPONSIVE */
@media (max-width: 900px) {
  .hero {
    flex-direction: column;
    padding: 40px 20px;
    text-align: center;
  }

  .hero-left,
  .hero-right {
    width: 100%;
  }

  .hero-left h1 {
    font-size: 48px;
  }
}
