.main {
    width: 450px;
    height: 500px;
    border: 2px solid gray;
    margin-top: 50px;
    margin-left: 35%;
    box-shadow: 1px 1px 10px 1px;
}

.secondmain {
    margin-left: 50px;
}

.secondmain h1 {
    font-size: 45px;
    
}

.secondmain input {
    width: 86%;
    margin-bottom: 10px;
    padding: 5px;
}

.secondmain button {
    width: 89%;
    padding: 5px;
    cursor: pointer;
}